{% extends 'accounts/account_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <p class="h3 text-primary">Register</p>
        </div>
        <div class="card-body">
            <form action="{% url 'accounts:register' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="Submit" class="btn btn-primary">Register</button>
            </form>
            <p class="mt-2">or login account <a href="{% url 'accounts:login' %}">Login</a> ? </p>
        </div>
    </div>
{% endblock %}